{% extends 'base.html' %}
{% block content %}

<div class="container">

<div class="col-lg-9">

  <div class="card mt-4">
    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
    <div class="card-body">
      <h3 class="card-title">{{ program.name }}</h3>
      <p class="card-text">{{ character.name }}</p>
    </div>
  </div>

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    Comments
  </div>
<div class="card-body">

{% for comment in comments.all %}

  <p>{{ comment.comment_text }}</p>
  <small class="text-muted">{{ comment.comment_time }}</small>
  <hr>

{% endfor %}
</div>
</div>
</div>
</div>

{% endblock %}
