<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">  
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title class="main-title">votelly.com</title>
</head>

<body>
  <a class="nav-link" href="{% url 'home' %}">Etusivu</a>
  <a class="nav-link" href="{% url 'disclaimer' %}">Käyttöehdot</a>           
  {% block content %}
  {% endblock %}
  
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="copyright">Copyright &copy; votelly.com 2018</p>
    </div>
  </footer>
</body>

</html>