{% extends 'base.html' %}
{% block content %}

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Käyttöehdot</h2>
        <p class="lead">Äänestämällä ja kommentoimalla ohjelmia votelly.com:ssa (myöhemmin sivustolla) käyttäjä sitoutuu ohessa listattuihin käyttöehtoihin. Sivuston sisältö tarjotaan sellaisena kuin se on eikä sivuston ylläpitäjä vastaa tietojen oikeellisuudesta eikä tuloksista. Sivuston kommentit ja äänestystulokset eivät olen virallisi eikä niitä voida käyttää muussa kuin sivuston yhteydessä.</p>
        <p class="lead">Sivusto käyttää liikenteen analysointiin sekä mainosten tarjoamiseen Google Analytics analytiikkaa sekä Google Adsense palvelua mainosten tarjoamiseksi sivuston käyttäjille. Käyttämällä sivustoa, käyttäjä hyväksyy myös näiden palvelujen käyttöehdot. Muutoin kuin edellä mainituissa tapauksissa, sivusto ei kerää käyttäjästä mitään tietoja eikä tallenna niitä myöhempää käyttöä varten.</p>
        <p class="lead">Käyttäjä sitoutuu luovuttamaan äänestämisestä sekä kommentoinnista syntyvän materiaalin sivuston käyttöön oikeudetta. Kaikki sivustolla olevat hahmot ovat kuvitteellisia eikä niillä ole yhteyttä ohjelmissa esiintyviin yksityishenkilöihin.</p>
      </div>
    </div>
  </div>
</section>

<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Kolmansien osapuolien materiaali</h2>
        <p class="lead">Sivusto käyttää ohjelmien ja hahmojen yhteydessä kolmansien osapuolien tietyin oikeuksin käytettävissä olevaa materiaalia. Alla on listattu kolmiansien osapuolien kuvien käyttämiseksi tarvittavat tiedot:</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Vastuuvapaus</h2>
        <p class="lead">Epäselvissä tilanteissa ja väärinkäytöksissä sivusto poistaa väärinkäytöksen alla olevan materiaalin sivustoltaan oikeudetta. Räikeissä väärinkäytöstapauksissa sivusto pidättää oikeuden auttaa väärinkäytösten selvittämisessä tarvittavia viranomaisia.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
