{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">
        <small>Äänestä ja kommentoi television suosikkihahmojasi</small>
      </h1>

      <div class="row">
        {% for program in programs.all %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'program_characters' program.id %}"><img class="card-img-top" src="{{ program.image.url }}" alt="{{ program.image_alt_text }}" title="{{ program.image_alt_text }}"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'program_characters' program.id %}">{{ program.name }}</a>
              </h4>
              <p class="card-text">{{ program.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
