{% extends 'base.html' %}
{% block content %}

<div class="container">

  <h1 class="heading-primary">
    Äänestä ja kommentoi television suosikkihahmojasi
  </h1>
  
  <div class="program-summaries">
    {% for program in programs.all %}
    <a href="{% url 'program_characters' program.id %}">
      <img class="program-image" src="{{ program.image.url }}" alt="{{ program.image_alt_text }}" title="{{ program.image_alt_text }}">
    </a>
    <a href="{% url 'program_characters' program.id %}">{{ program.name }}</a>
    <p class="program-description">{{ program.description }}</p>
    {% endfor %}
  </div>

</div>
{% endblock %}